@import 'vendors/_bootstrap.css'

$primary-color:#3d5a76
$background-color:#ededed;
$text-color:#363636;

body{

		padding-bottom:0;
		font-family:'Open Sans', Arial, Tahoma;
		color:$text-color;
		background: $background-color;
		
		
	
}